@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src:url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src:url("../fonts/ptsans-400-Italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
    color: #000000;
    background-color: #FFFFFF;

}

/* шапка */

.page-header {
    color: #000000;
    background-color: #FFFFFF;
}

.novigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize; 
}

.button-header {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #756157;
}

/* основа */

.main-index {
    color: #000000;
    background-color: #FFFFFF;

}

/* шапка маню */

.main-decoration {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
}

.main-info {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
}

.main-face-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

/* преимущества */



