@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src:url("../fonts/ptsans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src: url("../fonts/ptsans-400-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    src:url("../fonts/ptsans-400-Italic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    color: #000000;
    background-color: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #756157;
}

/* шапка */

.page-header {
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.navigation-logo {
    width: 139px;
    margin-right: 30px;
}

.navigation-list {
    width: 390px;
    margin: 0;
    padding: 0;
}

.navigation-list:last-child {
    margin-bottom: 0;
}

.navigation-user {
    width: 264px;
    margin-left: auto;
}

.novigation-link {
    font-family: "PT sans", sans-serif;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

.button-header {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #756157;
}

/* основа */

.main-container {
    flex-grow: 1;
  }

.main-index {
    color: #333333;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
}

/* шапка маню */

.main-decoration {
    background-image: url("../images/index-background.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
    margin: 0
}

.main-fase-img {
    display: block;
    margin: 0  auto;
}

.main-info {
    text-align: center;
}

.main-face-title {
    margin: 0 auto;
    padding: 0;
    width: 630px;
    font-size: 30px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.main-info p {
    margin: 0;
}

/* преимущества */

.advantages {
    background-color: #FFFFFF;
    color: #000000;
    margin: 0;
}

.hidden-title {
    margin: 0;
}

.advantages-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.advantages-item {
    width: 400px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.advantages-item p {
    margin: 0;
}

.advantages-title {
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.advantages-item p {
    color: #000000;
}

.advantages-img {
    display: flex;
    width: 1199px;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-img-bridge {
    flex-direction: row-reverse;
}

.advantages-img .advantages-title {
    color: #FFFFFF;
}

.advantages-img p {
    color: #FFFFFF;
}

.advantages-area {
    background-color: rgba(0.51,0.7,0.83,0.12);
}

.advantages-road {
    background-color: rgba(0.51,0.7,0.83,0.2);
}

/* предложение поиска гостиницы */

.search-hotel {
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    margin: 0;
}

.search-hotel-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
}

.search-hotel p {
    margin: 0;
}

.search-hotel-button {
    font-family: inherit;
    color: #FFFFFF;
    margin: 0;
}

/* подписка */

.subscribe {
    background-color: #82B3D3;
    color: #FFFFFF;
    text-align: center;
    background-image: url(../images/subscribe-img.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
}

.subscribe-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
}

.subscribe p {
    margin: 0;
}

.subscribe-form {
    font-family: inherit;
}

.field {
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    background-color: #F2F2F2;
}

.subscribe-button {
    font-family: inherit;
    background-color:#82B3D3;
    color: #FFFFFF;
}

/* футер */

.page-footer{
    color: #000000;
    background-color: #FFFFFF;
    margin: 0;
}

.page-footer-container {
    display: flex;
    width: 1056px;
    margin: 0 auto;
}

.footer-social-list {
    width: 116px;
    margin-right: 52px;
    margin: 0;
}

.footer-button {
    font-family: inherit;
    color: #000000;
    background-color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

.footer-contacts-phone {
    width: 720px;
    font-family: inherit;
    color: #000000;
    background-color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}

.htmlacademy-link {
    margin-left: auto;
    max-width: 115px;
}

/* попап */

.appointment {
    color: #000000;
    background-color: #FFFFFF;
}

.appointment-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.button-close {
    font-family: inherit;
    background-color: #F2F2F2;
}

.appointment-form {
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
}


.form-date input {
    font-family: inherit;
    background-color: #F2F2F2;
    font-weight: 400;
}

.appointment-error {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #FF5757;
    background-color: #FFFFFF;
}

.appointment-form-info {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
}

.appointment-form-adult input {
    font-family: inherit;
    background-color: #F2F2F2;
}

.appointment-form-children input {
    font-family: inherit;
    background-color: #F2F2F2;
}

.appointment-dropdown-box p {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #333333;
}

.button-find {
    font-family: inherit;
    color: #FFFFFF;
    background-color: #82B3D3;
}

/* страница каталога */

.main-inner{
    font-family: "PT Sans", sans-serif;
    margin: 0 auto;
    width: 1200px;
    font-size: 22px;
    line-height: 26px;
    color: #000000;
    background-color: #FFFFFF;
}

.inner-header {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #FFFFFF;
    background-color: #82B3D3;
    margin: 0;
    padding: 0;
}

.inner-header-container {
    width: 1060px;
    margin: 0 auto;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

/* хлебные крошки */

.breadcrumbs {
    display: flex;
    font-size: 16px;
    line-height: 21px;
    margin: 0;
  }

.breadcrumbs-link {
    color: inherit;
    text-decoration: none;
}

/* фильтры */

.catalog-products {
    margin: 0 auto;
}

.catalog-filter {
    display: flex;
    font-family: inherit;
    margin: 0;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
}

.filter-left {
    display: flex;
    margin-right: 167px;
    width: 366px;
}

.infrastructure {
    margin-right: 70px;
    margin: 0;
    padding: 0;
}

.filter-right {
    display: flex;
    width: 519px;
}

.filter-group-price {
    margin-right: 70px;
}

.catalog-filter-title {
    font-weight: 700;
}

.catalog-filter-list {
    margin: 0;
}

.control-input {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
}

.button-price {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.button-reset {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background: transparent;
}

/* меню каталога */


.main-catalog-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    margin: 0;
}

.select-control {
    color: #333333;
    font-size: 18px;
    line-height: 21px;
}

.button-choosen {
    width: 1057px;
    font-family: inherit;
    color: #242424;
    text-decoration: none;
  }

  /* карточки */

.product-list {
    margin: 0;
    padding: 0;
    width: 1056px;
}

.product-card {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    width: 340px;
}

.product-card-title {
    margin: 0;
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.product-card p {
    margin: 0;
}

.button-more {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.button-favourites {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.rating-line {
    font-size: 16px;
    line-height: 20px;
}

.rating-line span:nth-child(2) {
    text-transform: uppercase;
    background-color: #F2F2F2;
}

/* пагинация */

.pagination {
    margin: 0;
    background-color: #FFFFFF;
}

.pagination-list {
    margin: 0;
    padding: 0;
}

.pagination-link {
    margin: 0;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

/* количество страниц */

.pagination-select {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.pagination-select p {
    margin: 0;
}

.pagination-select-control {
    font-family: inherit;
}

/* подписка */

.subscribe-catalog {
    color: #333333;
    text-align: center;
    margin: 0;

}

.subscribe-catalog-title {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.subscribe-catalog p {
    margin: 0;

}
